


body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .Tittle{
    position:initial;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 70px;
    padding-bottom: 50px;
    align-items: start;
    font-weight: lighter;
    color:rgba(120, 119, 119, 0.1)

  }
  
 
  .container {
    text-align: center;
    width: 600px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -80px; /* 50px más alto en la página */
    transition: height 0.3s ease;
  }
  
  
  .task-item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
 
  .delete-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .task-item:hover .delete-btn {
    display: inline;
  }
  
  
  .no-tasks {
    padding: 10px;
    color: #888;
    text-align: center;
  }
  
  
  .task-counter {
    padding: 10px;
    font-weight: lighter;
    text-align: start;
  }
  
 
  #task {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    transition: border-color 0.3s ease;
  }
  
  
  #task:focus {
    border-bottom: 1px solid #000;
    outline: none;
  }
  
  
  
  
  
  
  
  
  
